*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.navbar a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
}
.navbar select {
    border: none;
    background: transparent;
    outline: none;
}
.navbar p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(31, 46, 53, 0.8);
}
.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar div a{
    padding: 0 15px;
}
.hero h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #1F2E35;
    margin-bottom: 20px;
}
.hero h1 span{
    color: #EE4248;
}
.hero p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #30444E;
    margin-bottom: 20px;
}
.hero button{
    width: 161px;
    height: 53px;
    background: #EE4248;
    border: none;
    box-shadow: 1px 2px 4px rgba(206, 25, 25, 0.25);
    border-radius: 7px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    padding-bottom: 50px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-title h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #1F2E35;
    margin-bottom: 40px;
}
.about-title h1 span{
    color: #EE4248;
}
.about-title p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
    margin-bottom: 30px;
    line-height: 150%;
}
#about{
   padding: 100px 0;
    background: #F7F7F7;
}
.product-title{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #1F2E35;
    padding-bottom: 40px;
}
.product h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #EE4248;
    margin-bottom: 20px;
    padding: 10px 0;
}
.product p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
    padding-bottom: 20px;
}
.product-bloc{
    width: 320px;
}
.product button{
    width: 119px;
    height: 42px;
    background: #EE4248;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
}
.con img{
    padding-bottom: 20px;
}
.con p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.48);
    padding: 10px 0;
}
.con h4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #263238;
    padding-bottom: 20px;
}

.con-desc p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #263238;
}
.con{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
}
#con{
    padding-top: 100px;
}
#footer{
    background: #EE4248;
}
.footer p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 0;
}


#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.hamburger-menu{
    display: none;
}